<html>
<head>
	<title>0x431 Dashboard</title>
	<style>
		body {
			background-image: url("http://www.access4.eu/_media/india_hg.jpg");
			background-size: 100% 100%;
		}
		#order_book_container {
			display: inline-block;
			float: right;
			margin-right: 5%;
			width: 40%;
		}
	</style>


	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





	

	<!-- Plotly -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Our JS -->
	<script src = "{{url_for('static', filename='helper_functions.js')}}"></script>
	<script src = "{{url_for('static', filename='dashboard.js')}}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse" style = "margin-bottom: 0%;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>0x431 Cryptocurrency Exchange</strong></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/dashboard">Dashboard</a></li>
				<li><a href="/forum">Forum</a></li>
			</ul>
			<div class="form-group navbar-form navbar-left">
				<input type="text" class="form-control " id = "search_bar" placeholder="Search">
				<button type="button" class="btn btn-default" onclick = "search()">Submit</button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
				<li onclick = "log_out()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-inverse" style = "margin-top: 0%;">
		<div class="container-fluid">
			<div class="form-group navbar-form navbar-left">

				<button type="button" id = "ETH" class="btn btn-danger" onclick = "select_coin(event)">ETH</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "XRP" class="btn btn-primary" onclick = "select_coin(event)">XRP</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "BCH" class="btn btn-primary" onclick = "select_coin(event)">BCH</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "LTC" class="btn btn-primary" onclick = "select_coin(event)">LTC</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "EOS" class="btn btn-primary" onclick = "select_coin(event)">EOS</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "ADA" class="btn btn-primary" onclick = "select_coin(event)">ADA</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "XLM" class="btn btn-primary" onclick = "select_coin(event)">XLM</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "NEO" class="btn btn-primary" onclick = "select_coin(event)">NEO</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="button" id = "XMR" class="btn btn-primary" onclick = "select_coin(event)">XMR</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</nav>



	<br><br>

	<div id = "order_panel" style = "width: 40%; margin: 0% 0% 0% 10%; border: 1px solid black;">

		Order type: &nbsp;&nbsp;&nbsp;&nbsp;
		<select id = "order_type">
			<option value = "Buy">Buy</option>
			<option value = "Sell">Sell</option>
		</select><br><br>

		Coin: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<select id = "coin_type">
			<option value="Empty"></option>
			<option value="ETH">ETH</option>
			<option value="XRP">XRP</option>
			<option value="BCH">BCH</option>
			<option value="LTC">LTC</option>
			<option value="EOS">EOS</option>
			<option value="ADA">ADA</option>
			<option value="XLM">XLM</option>
			<option value="NEO">NEO</option>
			<option value="XMR">XMR</option>
		</select><br><br>

		Amount: &nbsp;&nbsp;
		<input type = "text" id = "order_amount"><br><br>
			

		Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text" id = 'order_price'><br><br>

		<input type = "button" value = "Submit" onclick = "submit_order()">
	</div>

	<br><br><br>


	<!-- Buy orders table -->
	<div id = "order_book_container">
		<table class = "table" id = "buy_order_table"></table>
		<br><br><br>
		<table class = "table" id = "sell_order_table"></table>
	</div>

	<!-- SAMPLE GRAPH -->
	<div id = "graph" style="width: 500px; height: 400px; display: none; float: right;"></div>

</body>
</html>