<html>
<head>
	<title>0x431 Dashboard</title>
	<style>
		table {border: 0.1em solid black;}
		tr {border: 0.1em solid black;}
		td {border: 0.1em solid black; padding: 0.2em;}
	</style>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Plotly -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Our JS -->
	<script src = "{{url_for('static', filename='helper_functions.js')}}"></script>
	<script src = "{{url_for('static', filename='dashboard.js')}}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>0x431 Cryptocurrency Exchange</strong></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/dashboard">Dashboard</a></li>
				<li><a href="/forum">Forum</a></li>
			</ul>
			<div class="form-group navbar-form navbar-left">
				<input type="text" class="form-control " id = "search_bar" placeholder="Search">
				<button type="button" class="btn btn-default" onclick = "search()">Submit</button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
				<li onclick = "log_out()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>



	<br><br>

	Amount of Eth:<br>
	<input type="text" id = 'amount'><br>

	Price:<br>
	<input type="text" id = 'price'><br>

	<!--      
	Amount of BTC:<br>
	<input type="text" name="lastname" value=""><br> -->
	
	<br>
	<input type = "button" value = "Buy Order" onclick = "place_order('Buy')">
	<input type = "button" value = "Sell Order" onclick = "place_order('Sell')">

	<br><br><br>



	<input type = "button" style = "font-size: 2em;" value = "Pause data" onclick = "pauseData()">

	<br><br><br>

	<!-- ORDER BOOK TABLE -->
	<table id = "order_table" style = "display: inline-block;"></table>

	<!-- SAMPLE GRAPH -->
	<div id = "graph" style="width: 500px; height: 400px; display: inline-block; float: right;"></div>

</body>
</html>