<html>
<head>
	<title>0x431 Forum</title>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Our JS -->
	<script src = "{{url_for('static', filename='helper_functions.js')}}"></script>
	<script src = "{{url_for('static', filename='forum.js')}}"></script>

	<style>
		table {border: 0.1em solid black;}
		tr {border: 0.1em solid black;}
		td {border: 0.1em solid black; padding: 0.2em;}
		.question_container {
			width: 90%;
			min-height: 4%;
			font-size: 150%;
			margin: 0% 5% 0% 5%;
			border: 1px solid black;
		}
		.list-group-item:nth-child(odd) {
			background: #f2f2f2;
		}
		.list-group-item:nth-child(even) {
			background: #e6e6e6;
		}

	</style>
</head>
<body>
	
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>0x431 Cryptocurrency Exchange</strong></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/dashboard">Dashboard</a></li>
				<li class="active"><a href="/forum">Forum</a></li>
			</ul>
			<div class="form-group navbar-form navbar-left">
				<input type="text" class="form-control " id = "search_bar" placeholder="Search">
				<button type="button" class="btn btn-default" onclick = "search()">Submit</button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
				<li onclick = "log_out()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>


	<div class="container panel panel-default" id = "submit_question_container" style = "width: 80%; margin: 0% 0% 3% 10%; padding-bottom: 1%; background-color: WhiteSmoke; display: none;">
	
		<div class="page-header">
			<h1>Ask a Question</h1>
		</div>
		<input type="text" class="form-control " id = "question_summary" placeholder="Question summary">
		<br>
		<textarea class="form-control" rows="4" id="question_description" placeholder="Question description"></textarea>
		<br>
		<button type="button" class="btn btn-default" style = "float: right;" onclick = "submit_question()">Submit</button>

	</div>


	<!--<iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/63005870-00f4-4f32-89df-9ebdf320a73b"></iframe>-->


</body>
</html>