<html>
<head>
	<title>Register</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Our JS -->
	<script src = "{{url_for('static', filename='helper_functions.js')}}"></script>
	<script src = "{{url_for('static', filename='landing.js')}}"></script>
	
	<style>
		p {
			width: 86%;
			margin: 1% 7% 1% 7%;
			font-size: 100%;
			font-weight: bold;
		}
		.form_field {
			min-width: 40%;
			height: 5%;
			margin: 0% 7% 0% 7%;
			font-size: 100%;
			border: 1px solid grey;
			border-radius: 5px;
			padding-left: 1%;
		}
	</style>
</head>
<body>
	<div style="float: right; width: 50%;">

		<input type="button" id = "toggle" style = "width: 20%; height: 5%;" value="Log In" onclick="toggle()">

		<br><br><br>

		<p id="email_p">Email</p>
		<input type = "text" class = "form_field" id = "email" value = "asdf@asdf.com">

		<p>Username</p>
		<input type = "text" class = "form_field" id = "username" value = "asdf">

		<p>Password</p>
		<input type = "password" class = "form_field" id = "password" value = "asdf">

		<p id="confirm_password_p">Confirm Password</p>
		<input type = "password" class = "form_field" id = "confirm_password" value = "asdf">

		<br>

		<input type = "button" id = "submit" style = "width: 20%; height: 4%; border-radius: 5px; margin: 2% 0% 0% 10%; font-size: 100%;" value = "Register" onclick = "validate()">
	</div>
</body>
</html>