<html>
<head>
	<title>0x431 Forum</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Our JS -->
	<script src = "{{url_for('static', filename='helper_functions.js')}}"></script>
	<script src = "{{url_for('static', filename='thread.js')}}"></script>

	<style>
		table {border: 0.1em solid black;}
		tr {border: 0.1em solid black;}
		td {border: 0.1em solid black; padding: 0.2em;}
		.comment_text_container {
			width: 45%;
			display: inline-block;
			margin-left: 100;
			font-size: 90%;

		}
		.vote_count_container {
			width: 40%;
			display: inline-block;
			font-size: 250%;
			vertical-align: middle;
		}
		#question_text_container {
			width: 85%;
			display: inline-block;
			vertical-align: middle;
		}

	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>0x431 Cryptocurrency Exchange</strong></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/forum">Forum</a></li>
			</ul>
			<div class="form-group navbar-form navbar-left">
				<input type="text" class="form-control " id = "search_bar" placeholder="Search">
				<button type="button" class="btn btn-default" onclick = "search()">Submit</button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
				<li onclick = "log_out()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
Question
	<div id = "question"></div>
Comments
	<div id = "comments"></div>


	<!--<div class = "well well-sm" style = "width: 90%; margin-left: 5%;">
		<input type="text" style = "display: inline-block; width: 93%;" class="form-control " id = "new_comment" placeholder="Comment">
		<button type="button" class="btn btn-default" style = "display: inline-block; float: right;" onclick = "submit_question()">Submit</button>
	</div>-->

	<!-- Question div -->
	<!--<div class="well well-sm">
		<div style = "width: 15%; display: inline-block">
			<div class = "vote_count_container">13</div>
			<div class="btn-group-vertical" style = "display: inline-block">
				<button type="button" class="btn btn-success">Upvote</button>
				<button type="button" class="btn btn-danger">Downvote</button>
			</div>
		</div>
		<div id = "question_text_container">
			<div style = "font-size: 200%;">asdfasdf</div>
			<div style = "font-size: 100%;">asdfasdf</div>
		</div>
	</div>-->

</body>
</html>
